.searchItem{
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;

    .siDetails{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .siDetailTexts{
            //background-color: red;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 5px;

            .siPrice{
                font-size: 24px;
            }

            .siTaxOp{
                font-size: 12px;
                color: grey;
            }

            .siCheckButton{
                width: 100%;
                border: none;
                background-color: #0071c2;
                color: white;
                cursor: pointer;
                border-radius: 5px;
                padding: 10px 5px;
                
            }
        }

        .siRating{
            display: flex;
            justify-content: space-between;
        }

        .siRating > span{
            font-weight: 500;
        }

        .siRating > button{
            background-color: #003580;
            color: white;
            padding: 5px;
            font-weight: bold;
            border: none;
        }
    }

    .siDesc{
        display:flex;
        flex-direction: column;
        gap: 10px;
        flex: 2;

        .siCancelOpSubtitle{
            font-size: 12px;
            color:#008009;
        }

        .siCancelOp{
            font-size: 12px;
            color: #008009;
            font-weight: bold;
        }

        .siFeatures{
            font-size: 12px;
        }
    
        .siSubtitle{
            font-size: 12px;
            font-weight: bold;
        }

        .siTitle{
            font-size: 20px;
            color: #0071c2;
        }

        .siDistance{
            font-size: 12px;
        }

        .siTaxiOp{
            font-size: 12px;
            background-color: #008009;
            color: white;
            width: max-content;
            padding: 3px;
            border-radius: 5px;
        }
    }

    .siImg{
        width: 200px;
        height: 250px;
        object-fit: cover;
    }
}